<div class="row">
  <div class="container d-flex justify-content-center ">
    <div class="col-6 d-flex flex-column border border-info">
      <h1 class="text-center text-danger mt-2">Create new service</h1>
      <form [formGroup]="serviceForm" (ngSubmit)="createService()">
        <div class="form-group">
          <label>Service Code:</label>
          <input type="text" class="form-control" placeholder="Enter code... " formControlName="serviceCode">
          <div class='form-text error' *ngIf='serviceForm.controls.serviceCode.touched'>
            <div *ngIf="serviceForm.controls.serviceCode.hasError('required')">
              <small>Code is required.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceCode.hasError('pattern')">
              <small>Code must format DV-XXXX.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Rent Type: </label>
          <select class="form-control" formControlName="rentType">
            <option value="">---Select rent type---</option>
            <option *ngFor="let type of rentTypes"
                    [ngValue]="type">{{type.rentTypeName}}</option>
          </select>
          <div class='form-text error' *ngIf='serviceForm.controls.rentType.touched'>
            <div *ngIf="serviceForm.controls.rentType.hasError('required')">
              <small>Rent type is required.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Enter name... " formControlName="serviceName">
          <div class='form-text error' *ngIf='serviceForm.controls.serviceName.touched'>
            <div *ngIf="serviceForm.controls.serviceName.hasError('required')">
              <small>Name is required.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Area:</label>
          <input type="number" class="form-control" placeholder="Enter area..." formControlName="serviceArea">
          <div class='form-text error' *ngIf='serviceForm.controls.serviceArea.touched'>
            <div *ngIf="serviceForm.controls.serviceArea.hasError('required')">
              <small>Area is required.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceArea.hasError('pattern')">
              <small>Area must format number.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceArea.hasError('min')">
              <small>Area must be great 0.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Cost:</label>
          <input type="number" class="form-control" placeholder="Enter cost..." formControlName="serviceCost">
          <div class='form-text error' *ngIf='serviceForm.controls.serviceCost.touched'>
            <div *ngIf="serviceForm.controls.serviceCost.hasError('required')">
              <small>Cost is required.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceCost.hasError('pattern')">
              <small>Cost must format number.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceCost.hasError('min')">
              <small>Cost must be great 0.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Max people:</label>
          <input type="number" class="form-control" placeholder="Enter max people..." formControlName="serviceMaxPeople">
          <div class='form-text error' *ngIf='serviceForm.controls.serviceMaxPeople.touched'>
            <div *ngIf="serviceForm.controls.serviceMaxPeople.hasError('required')">
              <small>People is required.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceMaxPeople.hasError('pattern')">
              <small>Max people must format number.</small>
            </div>
            <div *ngIf="serviceForm.controls.serviceMaxPeople.hasError('min')">
              <small>Max people must be great 0.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Status: </label>
          <input type="text" class="form-control" placeholder="Enter status... " formControlName="serviceStatus">
        </div>
        <div class="d-flex justify-content-center ">
          <a class="btn btn-secondary mb-3" routerLink="/service/list">Back to menu</a>
          <button type="submit" class="btn btn-primary mb-3 mx-3" [disabled]="!serviceForm.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

