<div class="container-fluid border pt-5 mt-5">
  <h1>List Customer</h1>
  <p><a href="/">Back to menu</a></p>
  <div class="row">
    <div class="col-6">
      <p><a class="btn btn-success " routerLink="/service/create"><strong>+ </strong>Create service</a></p>
    </div>
    <div class="col-6 d-flex justify-content-end ">
      <input class="mb-3 mr-2" type="text" name="name" [(ngModel)]="name" placeholder="Enter name...">
      <button class="btn btn-primary mb-3" (click)="Search()">Search</button>
    </div>
  </div>
  <table class="table table-bordered table-striped ">
    <thead>
    <tr>
      <th>STT</th>
      <th>Code</th>
      <th>Name</th>
      <th>Rent Type</th>
      <th>Area</th>
      <th>Cost</th>
      <th>Max People</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services| paginate: { itemsPerPage: 2,
                                                      currentPage: p},  let i = index ">
      <td>{{i + 1}}</td>
      <td>{{service.serviceCode}}</td>
      <td>{{service.serviceName}}</td>
      <td>{{service.rentType.rentTypeName}}</td>
      <td>{{service.serviceArea }}</td>
      <td>{{service.serviceCost}}</td>
      <td>{{service.serviceMaxPeople}}</td>
      <td>{{service.serviceStatus}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/service/edit',service.id]">Edit</a>
      </td>
      <td>
<!--        <button (click)="openConfirmationDialog(service.id, service.serviceName)" type="button" class="btn btn-primary">-->
<!--          Delete-->
<!--        </button>-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="deleteId(service.id, service.serviceName)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accept delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want service name: {{message}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteService()">Delete</button>
      </div>
    </div>
  </div>
</div>
