<div class="container-fluid border pt-5 mt-5">
  <h1>List Customer</h1>
  <p><a href="/">Back to menu</a></p>
  <div class="row">
    <div class="col-6 d-flex">
      <p><a class="btn btn-success mr-3" routerLink="/contract/create"><strong>+ </strong>Create contract</a></p>
      <p><a class="btn btn-info" routerLink="/contract/contract-detail"><strong>+ </strong>Create contract detail</a></p>
    </div>
    <div class="col-6 d-flex justify-content-end ">
      <input  class="mb-3 mr-2" type="text" name="name" [(ngModel)]="name" placeholder="Enter name...">
      <button class="btn btn-primary mb-3" (click)="Search()">Search</button>
    </div>
  </div>
  <table class="table table-bordered table-striped ">
    <thead>
    <tr>
      <th (click)="sortOrder('id')" >Id<span [hidden]="sort == 'asc'">▼</span
      ><span [hidden]="sort == 'desc'">▲</span></th>
      <th>Code Customer</th>
      <th (click)="sortOrder('customer.customerName')" >Customer<span [hidden]="sort == 'asc'">▼</span
      ><span [hidden]="sort == 'desc'">▲</span></th>
      <th>Employee</th>
      <th>Service</th>
      <th>Attach Service</th>
      <th>Total money</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contracts,  let i = index ">
      <td>{{i+1}}</td>
      <td>{{contract.customer.customerCode}}</td>
      <td>{{contract.customer.customerName}}</td>
      <td>{{contract.employee.employeeName}}</td>
      <td>{{contract.service.serviceName}}</td>
      <td>
        <ng-container *ngFor="let detail of contractDetails">
          <span *ngIf="detail.id == contract.id ">{{detail.attachService.attachServiceName}} ,</span>
        </ng-container>
      </td>
      <td>{{contract.service.serviceCost }}</td>
      <td>{{contract.contractStartDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{contract.contractEndDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/contract/edit',contract.id]">Edit</a>
      </td>
      <td>
        <button class="btn btn-primary" (click)="removeCustomer(contract.id, contract.customer.customerName)">Delete</button>

        <!--        <button (click)="openConfirmationDialog(customer.id, customer.customerName)" type="button" class="btn btn-primary" >Delete</button>-->
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
<!--    <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
    <button class="btn btn-primary" [hidden]="p == 1"  (click)="nextPage(-1)">Previous</button>
    <button class="btn btn-primary" [hidden]="!contracts" (click)="nextPage(1)" >Next</button>
  </div>
</div>
